.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.prop {
  border-radius: 100%;
  width: 16px;
  height: 16px;
}

.prop.empty {
  background: silver;
}

.prop.unconsistent {
  background: salmon;
}

.prop.ok {
  background: lightgreen;
}