<!DOCTYPE html>
<html lang="en" ng-app="iann-solr" ng-cloak>
    <head>
        <meta charset="utf-8">
        <title>Solr schema migration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/favicon.ico">
        <link rel="stylesheet" type="text/css" href="assets/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="assets/bootstrap-theme.css"/>
        <link rel="stylesheet" type="text/css" href="<%= grunt.config.get('pkg.name') %>.css"/>
    </head>
    <body ng-controller="migrate">

        <header class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <h3>Solr Schema Migration</h3>
            </div>

        </header>

        <div class="container" style="margin-top: 80px;">
            <div class="row">

                <div class="col-xs-12" style="background: whitesmoke;">
                    <div class="btn-group col-xs-12" style="margin: 20px 0 10px 0;">
                        <label class="btn btn-success col-xs-4" ng-model="naviControl" btn-radio="'configure'">Configure</label>
                        <label class="btn btn-success col-xs-4" ng-model="naviControl" btn-radio="'fetch'" ng-disabled="!validation.fetch">Fetch</label>
                        <label class="btn btn-success col-xs-4" ng-model="naviControl" btn-radio="'migrate'" ng-disabled="!validation.fetch||!validation.migrate">Migrate</label>
                    </div>
                </div>

                <div class="col-xs-5" style="background: whitesmoke;height: 500px;">

                    <form name="ConfigForm">

                        <div id="configure" ng-show="naviControl==='configure'">
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <label>Url to scripts</label>
                                <input type="text"
                                       ng-model="$storage.Url"
                                       ng-change="validConfigure()"
                                       class="form-control">
                            </div>

                            <div class="col-xs-12" style="margin-top: 20px;">

                                <label>Select XML file of the old schema</label>
                                <input type="file"
                                       fileread="file.Old"
                                       class="form-control"
                                       required>

                            </div>

                            <div class="col-xs-12" style="margin-top: 20px;">

                                <label>Select XML file of the new schema</label>
                                <input type="file"
                                       fileread="file.New"
                                       class="form-control"
                                       ng-disabled="!file.Old"
                                       required>

                            </div>

                            <div class="col-xs-12" style="margin-top: 20px;">
                                <button type="button" class="btn btn-sm btn-success col-xs-12" ng-click="naviControl='fetch'" ng-disabled="!validation.fetch">Next</button>
                            </div>

                        </div>

                    </form>


                    <div id="fetch" ng-show="naviControl==='fetch'">
                        <div class="col-xs-12" style="margin-top: 20px;">
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <div class="col-xs-6">
                                    <label>Fetched items</label>
                                    <h2 style="margin-top: 10px;">
                                        {{data.numFound}}
                                    </h2>
                                </div>
                                <div class="col-xs-6">

                                </div>
                            </div>
                            <div class="col-xs-12" style="margin-top: 20px;">
                                <button type="button" class="btn btn-sm btn-success col-xs-12" ng-click="function.select()">Fetch</button>
                            </div>

                            <div class="col-xs-12" style="margin-top: 40px;">
                                <div class="col-xs-6">
                                    <label>Saved items</label>
                                    <h2 style="margin-top: 10px;" ng-show="!saveVars.counter">
                                        0
                                    </h2>
                                    <h2 style="margin-top: 10px;" ng-show="saveVars.counter">
                                        {{saveVars.counter}}
                                    </h2>
                                </div>
                                <div class="col-xs-6">

                                </div>
                            </div>

                            <div class="col-xs-12" style="margin-top: 20px;">
                                <button type="button" class="btn btn-sm btn-warning col-xs-12" ng-click="function.save()" ng-disabled="data.numFound===0">
                                    <div ng-hide="saveVars.locked">Transform & Save</div>
                                    <div ng-show="saveVars.locked">Cancel Saving</div>
                                </button>
                            </div>

                            <div class="col-xs-12" style="margin: 40px 0 20px 0;">
                                <progressbar class="progress-striped active" value="saveVars.progressCompleted" type="warning">{{saveVars.progressCompleted+'%'}}</progressbar>
                            </div>
                        </div>
                    </div>


                    <div id="migrate" ng-show="naviControl==='migrate'">

                        <div class="col-xs-12" style="margin-top: 30px;">
                            <div class="col-xs-6">
                                <label>Items to migrate</label>
                                <h2 style="margin-top: 10px;">
                                    {{saveVars.counter}}
                                </h2>
                            </div>
                            <div class="col-xs-6">

                            </div>
                        </div>
                        <div class="col-xs-12" style="margin: 20px 0 20px 0;">

                            <button type="button" class="btn btn-sm btn-danger col-xs-12" ng-disabled="data.numFound===0" ng-click="function.migrate()">Migrate</button>
                        </div>

                        <div class="col-xs-12" style="margin: 30px 0 20px 0;">
                            <progressbar class="progress-striped active" value="migrateVars.progressCompleted" type="danger">{{migrateVars.progressCompleted+'%'}}</progressbar>
                        </div>
                    </div>






                </div>

                <div class="col-xs-7" style="background: whitesmoke; height: 500px;padding: 20px 0 20px 0;overflow-y: scroll;">
                    <div class="col-xs-12" ng-repeat="newName in schema.New">
                        <div class="col-xs-1">
                            <div class="prop empty" ng-class="getClass(newName)"></div>
                        </div>
                        <div class="col-xs-5">
                            <label>{{ newName.name }}</label>
                        </div>
                        <div class="col-xs-6">
                            <select ng-options="item.value as item.name for item in schema.Old"
                                    ng-model="newName.oldName"
                                    class="form-control">
                                <option value="undefined">Select name</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <footer>
        </footer>


        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="angular.js"></script>
        <script type="text/javascript" src="<%= grunt.config.get('pkg.name') %>.js"></script>
    </body>
</html>